<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="widgetBox">
    <div id="widgetBox"></div>
    <script type="text/jsx" src="/javascript/components/react-widgetbox.js"></script>
</div>

<div th:fragment="widgetNews">
    <div id="widgetNews"></div>
    <script type="text/jsx" src="/javascript/components/react-widgetnews.js"></script>
</div>

<div th:fragment="widgetTimeline">
    <div id="widgetTimeline"></div>
    <script type="text/jsx" src="/javascript/components/react-widget-timeline.js"></script>
</div>
</body>
</html>