<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Page non trouvée"/>
    <meta name="author" content="MikaSez"/>
    <link href="/CSS/error.css" rel="stylesheet" type="text/css"/>
    <title>DeSaBre : 404 page</title>
</head>
<body>
<script type="text/javascript" src="/javascript/jquery.js"></script>
<script type="text/javascript" src="/javascript/error.js"></script>
<div id="bg-fullscreen"></div>
<div id="content">
    <h1>404</h1>

    <h3>La page demandée n'existe pas... </h3>

    <div class="link">
        <a href="/" class="home">&larr; Page d'accueil</a>
    </div>
</div>

</body>
</html>