<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Creation d'un job"/>
    <meta name="author" content="MikaSez"/>
    <title>DeSaBre : create job</title>
    <link href="/CSS/bootstrap.min.css" rel="stylesheet"/>
    <link href="/CSS/plugins/metisMenu/metisMenu.min.css" rel="stylesheet"/>
    <link href="/CSS/plugins/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="/CSS/sb-admin-2.css" rel="stylesheet"/>
    <link href="/CSS/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/CSS/global.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- we need that before page loading -->
    <script src="/javascript/moment.min.js"></script>
    <script src="/javascript/react-with-addons.js"></script>
    <script src="/javascript/JSXTransformer.js"></script>
    <script src="/javascript/temp-mock-data.js"></script>

</head>
<body>
<div id="wrapper">
    <div th:include="fragments/navigation :: navigation"></div>
    <div id="page-wrapper">
        
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Création d'un job</h1>
			</div>
			<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Création d'une nouvelle tache
                        </div>
                        <form role="form" th:action="@{/job/create}" method="post" th:object="${job}">
                            <div class="panel-body">
                            	<div th:if="${saved}" class="alert alert-info">
			                        La job a été créé correctement.
			                    </div>
								<div th:if="${#fields.hasErrors('name')}" 
								th:errors="*{name}" class="alert alert-danger">
		                            Ce nom n'est pas valide.
		                        </div>
                                <div class="row">
									<div class="col-lg-6">
									    <div class="form-group">
									        <label for="TaskName">Nom de la tâche</label>
									        <input class="form-control" id="name" name="name" type="text" placeholder="Nom de la tâche"
									         	autofocus="true" th:field="*{name}"></input>
									    </div>
                                        <div class="form-group">
                                            <label for="LicencesList">Licences necessaires</label>
                                            <select id="LicencesList" th:field="*{licences}" multiple="multiple" class="form-control">
                                                <option th:each="licence : *{licences}"
														th:value="${licence.id}"
														th:text="${licence.name}">
												</option>
                                            </select>
                                        </div>
									</div>
									<!-- /.col-lg-6 (nested) -->
									<div class="col-lg-6">
									
										<div class="panel panel-default">
							                <div class="panel-heading">
							                    Scripts
							                </div>
							                <div class="panel-body">
							                    <div class="table-responsive">
							                        <table class="table" id="scriptList">
							                            <thead>
								                            <tr>
								                                <th> Nom</th>
								                                <th> Contenu</th>
								                                <th> </th>
								                            </tr>
							                            </thead>
							                            <tbody>
							                            	<tr th:each="script : ${scripts}">
							                            		<td><input type="text" th:field="*{scripts[__${script.index}__].name}" /></td>
							                            		<td><input type="text" th:field="*{scripts[__${script.index}__].content}" /></td>
												                <td>
												                     <button type="button" name="removeRow" th:value="${script.index}"
												                     class="fa fa-times btn btn-outline btn-danger btn-xs btn-delete">
                														Remove row
                													</button>
												                </td>
															</tr>
							                            </tbody>
							                        </table>
							                    </div>
							                    <div>
									                <hr/>
									                <button type="submit" name="addRow" class="btn btn-outline btn-success btn-params">
									                	<i class="fa fa-plus"></i> Ajouter
									                </button>
									            </div>
							                </div>
							             </div>
							             
									</div>
									<!-- /.col-lg-6 (nested) -->
								</div>
                            	<!-- /.row (nested) -->
	                    		<div>
								      <button type="submit" class="btn btn-outline btn-warning" ><i class='fa fa-plus'></i> Sauvegarder </button>
								</div>
							</div>
                    		<!-- /.panel-body -->
						</form>
					</div>
                	<!-- /.panel -->
				</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
		</div>
        <!-- /.row -->

    </div>
</div>

<script src="/javascript/jquery.js"></script>
<script src="/javascript/bootstrap.js"></script>
<script src="/javascript/plugins/metisMenu/metisMenu.min.js"></script>
<script src="/javascript/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/javascript/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/javascript/sb-admin-2.js"></script>
<script type="text/jsx">
    $(document).ready(function () {
        $('.datatable').dataTable();

    });
</script>
</body>
</html>